@import 'fonts.css';

* { text-decoration: none; list-style-type: none;}

body {
    background: #E2E4E7;
    padding: 0;
    text-align: center;
    font-family: 'ISOCPUR';
    position: relative;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    }

html {
      height: 100%;
    }
    
    .wrapper {
    	height: 100% !important;
    	height: 100%;
    	margin: 0 auto; 
    	overflow: hidden;
    	background-color: #1F45FC;
	    /*animation: fade 100s infinite;
	   -webkit-animation: fade 100s infinite;*/
	   -webkit-transition: background-color 1s ease-in-out;
          transition: background-color 1s ease-in-out;
    }
    .wrapper-color-1 {
    	background-color: #1F45FC;
    }
    .wrapper-color-2 {
    	background-color: #437C17;
    }
    .wrapper-color-3 {
    	background-color: #F87217;
    }
    .wrapper-color-4 {
    	background-color: #F62217;
    }
    .wrapper-color-5 {
    	background-color: #6C2DC7;
    }

    a {
      text-decoration: none;
    }
    
    
    h1, h2 {
      width: 100%;
    }
    h1 {
      margin-top: 100px;
      color: #000;
      margin-bottom: 5px;
      font-size: 70px;
      font-weight: 100;
    }

    h2 {
      color: #6D461D;
      font-weight: 100;
      margin-top: 0;
      margin-bottom: 10px;
    }

    code {
      margin: 20px 1%;
      float: left;
      width: 48%;
      height: 105px;
      background: rgba(0,0,0,0.1);
      border: rgba(0,0,0,0.05) 5px solid;
      border-radius: 5px;
      padding:5px;
      color: white;
      text-align: center;
      font-size: 15px;
      margin-top: 25px;
      display: block;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    code.html {
      color: #7EC9E6;
    }
    code.js {
      color: #FFAD00;
    }

    .main {
      float: left;
      width: 100%;
      margin: 0 auto;
    }
    
    .main h1 {
      padding:150px 50px;
      float: left;
      width: 100%;
      font-size: 45px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      font-weight: 100;
      color: white;
      margin: 0;
    }
    
    .main section .page_container {
      position: relative;
      top: 25%;
      margin: 0 auto 0;
      max-width: 950px;
      z-index: 3;
    }
    .main section  {
      overflow: hidden;
    }
    
    .main section > img {
      position: absolute;
      max-width: 100%;
      z-index: 1;
      left: 10%;
      border-radius: 7px;
    }
/*===============================================================================================================================================================*/    
    .main section.page1 {
      /*background: #151b54;*/
    }
    .main section.page1 h1 {
      text-align: center;
      padding: 0;
      margin-bottom: 15px;
      font-size: 100px;
      color: #efefef;
    }
    .main section.page1 h2 {
      color: #ccc;
      text-align: center;
      width: auto;
      line-height: 160%;
    }
    img.showcase-img {
    	top: 20%;
    	height: auto;
    	width: 40%;
    }
/*===============================================================================================================================================================*/
    .main section .page_container .btns {
      clear: both;
      float: left;
      text-align: center;
      width: 435px;
    }
    .main section .page_container .btns a{
      text-align: center;
    }
    .main section.page2 {
      /*background: #555557 url(back-phone.png) no-repeat center -150px ;*/
    }
/*    .main section.page2 > img {
      position: absolute;
      top: -300px;
      left: 50%;
      margin-left: -1095px;
    }*/
    .main section.page2 .page_container {
      margin-top: 30px;
      overflow: hidden;
    }
    .main section.page2 h1 {
      text-align: left;
      padding: 0;
      margin-bottom: 15px;
      font-size: 50px;
      letter-spacing: -1px;
      color: #ccc;
    }
    .main section.page2 h2 {
      color: rgba(255,255,255,0.85);
      text-align: center;
      line-height: 160%;
      font-weight: 100;
    }
    .viewing-page-2 .back{
      background: rgba(0, 0, 0, 0.25);
      color: #FFF;
      }
/*===============================================================================================================================================================*/
    .main section.page3 {
      /*background:url(tilted-phone.png) no-repeat 156px -150px ;*/
    }
    .main section.page3 .page_container {
      overflow: hidden;
      width: 500px;
      right: -285px;
    }
    .main section.page3 h1 {
      text-align: left;
      padding: 0;
      margin-bottom: 0;
      font-size: 70px;
      letter-spacing: -1px;
      color: #ccc;
    }
    .main section.page3 h2 {
      color: #ddd;
      text-align: left;
      line-height: 160%;
      font-weight: 100;
      font-size: 21px;
    }
/*===============================================================================================================================================================*/
	.main section.page4 .page_container {
      overflow: hidden;
      width: 500px;
      right: -285px;
    }
    .main section.page4 h1 {
      text-align: left;
      padding: 0;
      margin-bottom: 0;
      font-size: 70px;
      letter-spacing: -1px;
      color: #ccc;
    }
    .main section.page4 h2 {
      color: #ddd;
      text-align: left;
      line-height: 160%;
      font-weight: 100;
      font-size: 21px;
    }
    .menu-buttons {
    	margin-top: 8%;
    	text-align: center;
    }
/*===============================================================================================================================================================*/
    .main section.page5 .page_container {
      overflow: hidden;
      width: 500px;
      right: -285px;
    }
    .main section.page5 h1 {
      text-align: left;
      padding: 0;
      margin-bottom: 0;
      font-size: 70px;
      letter-spacing: -1px;
      color: #ccc;
    }
    .main section.page5 h2 {
      color: #ddd;
      text-align: left;
      line-height: 160%;
      font-weight: 100;
      font-size: 21px;
    }
 /*===============================================================================================================================================================*/ 
 	.menu-buttons span.btn {
 		-webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
 	}

    .menu-buttons span.btn-visible {
    	text-decoration: none;
    	height: 50px;
    	width: 150px;
    	font-size: 20px;
    	vertical-align: center;
    	line-height: 50px;
    	position: relative;
    	color: #eee;
    	border-style: solid;
    	border-width: 3px;
    	border-color: #eee;
    	border-radius: 7px;
    	padding-top: 5px;
    	padding-bottom: 5px;
    	padding-left: 10px;
    	padding-right: 10px;
    	margin-left: 30px;
    	margin-right: 30px;
    	/*-webkit-transition: color .2s ease-in-out;
          transition: color .2s ease-in-out;
        -webkit-transition: border-color .2s ease-in-out;
          transition: border-color .2s ease-in-out;*/
    }

    .menu-buttons span.btn-visible:hover {
    	border-color: #888;
    	color: #888;
    	cursor: pointer;
    }

    .menu-buttons span.hidden {
    	visibility: hidden;
    }

    @keyframes fade {
	    0%   { background: #1F45FC; }
	    25%  { background: #4AA02C; }
	    50%  { background: #E56717; }
	    75% { background: #842DCE; }
	    100% { background: #1F45FC; }
	}

	@-webkit-keyframes fade {
	    0%   { background: #1F45FC; }
	    25%  { background: #4AA02C; }
	    50%  { background: #E56717; }
	    75% { background: #842DCE; }
	    100% { background: #1F45FC; }
	}