#snake_snake, #snake_food {

}

#snake_snake  {

}

#snake_food {

}

.snake_piece {
	position:fixed;
	left:50%;
	
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#snake_snake .snake_piece {
	background:#3253E6;
	box-shadow:inset 1px 1px 3px #0F2CAB;
}

#snake_food .snake_piece {
	background: #EBD128;
	box-shadow:inset 1px 1px 3px #E6A432;
}

.snake-scoreboard {
	bottom: 10px;
	left: 10px;
	border-radius: 10px;
	border-color: #0036D9;
	font-size: 18px;
	height: auto;
	width: auto;
	line-height: auto;
	vertical-align: center;
	text-align: center;
	background-color: #A8C8FF;
	color: #000;
	position: fixed;
}

.snake-scoreboard:hover {
	background-color: #43AED1;
}

.snake-modal-board {
	list-style-type: none;
	height: auto;
}

.snake-modal-item {
	color: #000;
	height: 30px;
	line-height: 30px;
	vertical-align: center;
	border-style: solid;
	border-color: #acd7f2;
	border-width: 1px;
}

.snake-modal-board-title {
	color: #000;
	text-align: center;
}