$dark-theme: false;
$header-percent: 0.35;
$small-header-percent: 0.2;

@mixin flex-center() {
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
}
$shadow-1: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
$shadow-2: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
$shadow-3: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
$shadow-4: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
$shadow-5: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
$transition: cubic-bezier(0.23, 0.54, 0.19, 0.99);
$transition-2: cubic-bezier(0.08, 0.54, 0.45, 0.91);
$primary-dark: #1c1d21;
$primary-light: #e2e2e2;
$text-light-primary: white;
$text-light-secondary: rgba(255,255,255,.67);
$text-dark-primary: rgba(0,0,0,.87);
$text-dark-secondary: rgba(0,0,0,.56);

$accent-1: #ff6138;
$accent-2: #ffff9d;
$accent-3: #bee89f;
$accent-4: #79bd8f;
$accent-5: #00a388;

$accent-colors: $accent-1, $accent-2, $accent-3, $accent-4, $accent-5;
@if $dark-theme {
	$text-primary: $text-light-primary !global;
	$text-secondary: $text-light-secondary !global;
	$background-primary: $primary-dark !global;
} @else {
	$text-primary: $text-dark-primary !global;
	$text-secondary: $text-dark-secondary !global;
	$background-primary: $primary-light !global;
}
html,
body,
#rr,
.root {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background: #e2e2e2;
	color: $text-primary;
}
.root {
	// display: flex;
	// flex-direction: column;
}
.header {
	// height: 400px;
	height: $header-percent * 100vh;
	box-shadow: $shadow-3;
	background: $background-primary;
	color: $text-primary;
	z-index: 200;
	position: relative;
	flex: $header-percent;

	.width-limit {
		max-width: 800px;
		height: 100%;
		margin: 0 auto;
		padding: 0 10px;
		display: flex;
	}

	.name-info {
		flex: 1;
		@include flex-center;
		text-align: right;
		align-items: initial;
		margin-right: 20px;
	}
	.sm-info {
		// visibility: hidden;
		flex: 1;
		@include flex-center;
		align-items: left;
		margin-left: 20px;

		.icon-link {
			display: inline-block;
			text-align: center;
			height: 38px;
			width: 38px;
			transition: .15s all ease-in-out;
		}
		.icon-link + .icon-link {
			margin-left: 3px;
		}
		.icon-link:hover {
			text-shadow: $shadow-1;
			// color: $text-secondary;
		}

		img {
			height: 90%;
			max-height: 160px;
			width: auto;
			border-radius: 50%;
			box-shadow: $shadow-1;
		}
	}
	.line {
		display: inline-block;
		width: 100%;

		&.name {
			font-size: 1.5rem;
		}
		&.tagline {
			font-size: 1rem;
			color: $text-secondary;
		}
	}
}
.icon-link {
	color: rgba(0,0,0,.87);
	font-size: 2rem;
}
.h-list {
	width: 100%;
	height: (1 - $header-percent) * 100vh;
	display: flex;
	flex: 1 - $header-percent;
	z-index: 100;
	position: relative;
	// overflow: hidden;

	.bar {
		position: relative;
		height: 100%;
		min-width: 50px;
		color: $text-primary;
		box-shadow: $shadow-3;
		transition: .4s flex $transition,
					.27s box-shadow $transition;

		&:not(.active):not(.feature) {
			cursor: pointer;
			.title-stack,
			.title-container {
				// position: relative;
				height: 100%;
				width: 100%;
				// text-align: center;
				// display: flex;
				flex: 1;
				// @include flex-center;
			}
			/* .title-stack {
				opacity: 0;
			} */
			&:before {
				content: attr(data-title);
				position: absolute;
				line-height: 50px;
				width: 30vh;
				// text-align: center;
				// flex: 1;
				color: $text-primary;
				// top: -50px;
				top: 0;
				left: 0;
				font-weight: bold;
				-webkit-transform-origin: left bottom 0;
				$angle: 90deg;
				transform: rotate($angle);
				-webkit-transform: rotate($angle);
				-moz-transform: rotate($angle);
				-ms-transform: rotate($angle);
				-o-transform: rotate($angle);
			}
		}
		.preview,
		a,
		p,
		h1,
		h2 {
			display: none;
		}
		.preview, h1, h2 {
			user-select: none;
		}

		@media screen and (min-width: 800px) {
			&.active {
				flex: 1;
				overflow: hidden;

				.title-stack {
					flex: 1;
					// opacity: 1;
					height: 100%;
					transition: opacity 0s;
					opacity: 1 !important;
					@include flex-center;
					z-index: 150;
					position: relative;

					.title-container {
						width: 80%;
					}
				}

				h1 {
					display: block;
					font-size: 1.5rem;
					margin: 0;
				}
				h2 {
					display: block;
					font-size: 1rem;
					margin: 0;
					color: $text-secondary;
				}
				.preview {
					display: block;
					position: absolute;
					right: -40px;
					bottom: 20px;
					height: 180px;
					width: 200px;
					border-radius: 3px;
					box-shadow: $shadow-1;
					overflow: hidden;
					z-index: 140;

					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
						transition: opacity 0s;
						opacity: 1 !important;	
					}
				}

			}
		}
		&.feature {
			flex: 1;
			display: flex;

			.title-stack {
				flex: .25;
				// opacity: 1;
				// justify-content: right;
				@include flex-center;

				.title-container {
					width: 100%;
					text-align: right;
					color: $text-primary;
					padding: 0 20px;
					box-sizing: border-box;

					a {
						display: inline-block;
						width: 100%;
						color: $text-secondary;
					}
					p,
					h1 {
						display: block;
					}
					h1 {
						margin: 15px 0;
						font-size: 1.5rem;
					}
				}
			}
			.preview {
				display: block;
				flex: .75;
				// text-align: center;
				@include flex-center;
				// padding-right: 50px;

				img {
					// display: none;
				box-shadow: $shadow-1;
					// max-width: 75%;
					// max-height: 90%;
					height: 100%;
					width: 100%;
					object-fit: cover;
					pointer-events: none;
				}
			}
		}
		.title-stack,
		.preview img {
			transition: opacity .4s $transition-2;
			opacity: 1;
		}
		&.transitioning {
			.title-stack,
			.preview img {
				opacity: 0;
				transition: opacity .15s $transition-2;
			}
		}
		&.hover {
			box-shadow: $shadow-5;
		}
		&.hover-prev {
			box-shadow: $shadow-1;
		}

		@media screen and (max-width: 800px) {
			&.feature {
				flex-direction: column;

				.title-stack {
					margin: 40px 0 30px 0;
					.title-container {
						text-align: left;
					}
				}
				.preview {
					@include flex-center;
					width: 100%;

					img {
						height: 95%;
						width: 95%;
						border-radius: 3px;
						object-fit: cover;
						pointer-events: none;
					}
				}
			}
		}
	}
	@for $i from 1 through length($accent-colors) {
		.bar-#{$i} {
			background: nth($accent-colors, $i);
			z-index: 100-$i;
		}
	}
}
@media screen and (max-height: 700px) {
	.header {
		height: $small-header-percent * 100vh;
	}
	.h-list {
		height: (1 - $small-header-percent) * 100vh;
	}
}
@media screen and (max-height: 560px) and (min-width: 800px) {
	.bar.active {
		.title-container {
			// background: rgba(255,255,255,.25);
			// border-radius: 3px;
			text-shadow: .5px .5px 0 rgba(255,255,255,.5);
		}
	}
}
@media screen and (max-width: 800px) {
	.h-list {
		display: inline-block;

		.bar {
			box-shadow: none;
			height: initial;
			min-height: 300px;

			&.active {
				display: flex;
				flex: none;

				.title-stack {
					flex: 1;
					// opacity: 1;
					// justify-content: right;
					@include flex-center;

					.title-container {
						width: 100%;
						text-align: right;
						color: $text-primary;
						padding: 0 10px 0 20px;
						box-sizing: border-box;

						a {
							display: inline-block;
							width: 100%;
							color: $text-secondary;
						}
						p,
						h1 {
							display: block;
						}
						h1 {
							margin: 15px 0;
							font-size: 1.5rem;
						}
					}
				}
				.preview {
					flex: 1;
					// height: 100%;
					position: relative;
					right: initial;
					bottom: initial;
					width: 100%;
					max-height: 300px;
					// text-align: center;
					@include flex-center;
					// padding-right: 50px;

					img {
						// display: none;
						box-shadow: $shadow-1;
						// max-width: 75%;
						// max-height: 90%;
						height: 100%;
						width: 100%;
						object-fit: cover;
						pointer-events: none;
					}
				}
			}
		}
	}
}

.footer {
	display: none;
	height: 50px;
	flex: none;
	z-index: 200;
	position: relative;
	background: $background-primary;
	box-shadow: $shadow-3;
}